@using System.Linq;
@{
    ViewData["Title"] = "Select courses";
}
@model Degree_Planner.Models.ViewModels.SelectCoursesVm


<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">Select Courses for Group: @Model.DegreeElement.Members.Name</h4>
        <h6 class="card-subtitle text-muted mb-3">Hours remaining: <span id="@Model.IdPrefix-hours-remaining">@Model.DegreeElement.Hours</span></h6>
        <div class="input-group mb-3" id="@Model.IdPrefix-div-options">
            @if(Model.DegreeElement.Members.Courses.Any(c => !c.CatalogNumber.EndsWith("E"))) {
                <h5>Fixed courses</h5>
            }
            @if(Model.DegreeElement.Members.Courses.Any(c => !c.CatalogNumber.EndsWith("E"))) {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Course Catalog Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="@Model.IdPrefix-course-options"></tbody>
                </table>
            }
            @if(Model.DegreeElement.Members.Courses.Any(c => c.CatalogNumber.EndsWith("E"))) {
                <h5>Elective courses</h5>
            }
            @foreach(var elective in Model.DegreeElement.Members.Courses.Where(c => c.CatalogNumber.EndsWith("E"))) {
                <form class="form-inline w-100" id="@Model.IdPrefix-elective-form">
                    <label for="@Model.IdPrefix-form-department" class="mr-2">Course department</label>
                    @if(elective.Department != "UARK") {
                        <input id="@Model.IdPrefix-form-department" class="form-control mr-4 form-control-sm" name="department" value="@elective.Department" type="text" disabled required />
                    } else {
                        <input id="@Model.IdPrefix-form-department" class="form-control mr-4 form-control-sm" name="department" type="text" required />
                    }
                    <label for="@Model.IdPrefix-form-catalog" class="mr-2">Course number</label>
                    <input id="@Model.IdPrefix-form-catalog" class="form-control form-control-sm mr-4" name="catalog-number" type="text" required />
                    <input type="submit" class="btn btn-sm btn-outline-secondary" value="Add Elective" />
                </form>
                <p id="@Model.IdPrefix-elective-error"class="text-danger"></p>
                break;
            }
        </div>
        <br />
        <div id="@Model.IdPrefix-taken" style="display: none;">
            <h5>Selected/Taken courses</h5>
            <table class="table">
                <thead>
                <tr>
                    <th>Course name</th>
                    <th>Course catalog number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="@Model.IdPrefix-selected-courses"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
        $(function() {
            $("#@Model.IdPrefix-elective-form").submit(function(e) {
                e.preventDefault();

                var data = $(this).serializeArray();
                console.log(data);

                var department;
                var catalogNumber;
                if (data.length === 1) {
                    department = $("#@Model.IdPrefix-form-department").val();
                    catalogNumber = data[0].value;
                } else {
                    department = data[0].value;
                    catalogNumber = data[1].value;
                }

                var hours;
                if (!isNaN(catalogNumber.charAt(3))) {
                    hours = parseInt(catalogNumber.charAt(3));
                } else {
                    hours = 3;
                }

                var courseIdentifier = {
                    department: department,
                    catalogNumber: catalogNumber,
                    courseID: -1,
                    hours: hours
                };
                addCourse(@Model.IdPrefix, courseIdentifier, false);

                if (data.length !== 1) {
                    $("#@Model.IdPrefix-form-department").val("");
                }
                $("#@Model.IdPrefix-form-catalog").val("");
            });
        });
</script>
