@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.jpg" height="30" class="d-inline-block align-top"/>
        Degree planner
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Courses", "UploadCoursesTaken", "Planner", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Generate", "GenerateSchedules", "Planner", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("View", "ViewDegreePlan", "Planner", null, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
    @Html.ActionLink("Logout", "Index", "Home", null, new { @class = "btn btn-sm btn-outline-light" })
</nav>
<div class="container">
    @RenderBody()
</div>