@using Degree_Planner.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
@model User
<br/><br/><br/>
<h2>Welcome @Model.Username</h2>

@if(Model.IsAdmin) {
    <h4>Administrator</h4>
    @Html.ActionLink("Upload Degree CSV", "UploadDegree", "Planner", null, new {@class="btn btn-lg btn-secondary"})
    <br /><br />
    @Html.ActionLink("Upload Course Group CSV", "UploadCourseGroup", "Planner", null, new {@class="btn btn-lg btn-secondary"})
    <br /><br />
    @Html.ActionLink("Upload Prerequisite CSV", "UploadCourseList", "Planner", null, new {@class="btn btn-lg btn-secondary"})
    <br /><br />
    @Html.ActionLink("Administration", "AdministerUsers", "Planner", null, new {@class="btn btn-lg btn-secondary"})
} else {
    <h4>Student</h4>
    @Html.ActionLink("Add Courses Taken", "UploadCoursesTaken", "Planner", null, new {@class="btn btn-lg btn-secondary"})
    <br /><br />
    @Html.ActionLink("Generate Degree Plans", "GenerateSchedules", "Planner", null, new {@class="btn btn-lg btn-secondary"})
    if (Model.DegreePlan != null) {
        <br /><br />
        @Html.ActionLink("View Current Degree Plan", "ViewDegreePlan", "Planner", null, new {@class="btn btn-lg btn-secondary"})
    }
}
