
@{
    ViewData["Title"] = "Select courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<Degree_Planner.Models.ViewModels.SelectCoursesVm>

<h2>Select courses</h2>
@foreach(var degreeElement in Model) {
    await Html.RenderPartialAsync("_SelectCoursesPartial", degreeElement);
}
<br />
<h2>Parameters</h2>
<label for="max-hours">Maximum hours per semester: </label>
<br />
<input type="number" name="max-hours" id="max-hours"/>
<br />
<br />
<button onclick="generateSchedules()">Generate schedules</button>

@section scripts {
    <script>
        var courseOptions = @Html.Raw(Json.Serialize(Model));
        var selectionTableData = [];
        var takenTableData = [];
        var hourRequirements = [];

        $(function() {
            console.log(courseOptions);
            for (var i = 0; i < courseOptions.length; i++) {
                var vm = courseOptions[i];
                selectionTableData.push([]);
                takenTableData.push([]);
                hourRequirements.push(vm.degreeElement.hours);
                vm.idPrefix = i;

                populateAll(vm.idPrefix, vm.degreeElement, vm.coursesTaken);
            }
        });

        function populateAll(modelId, data, taken) {
            selectionTableData[modelId] = [];
            takenTableData[modelId] = [];
            for (var i = 0; i < data.members.courses.length; i++) {
                var course = data.members.courses[i];
                selectionTableData[modelId].push(course);
            }

            for (var i = 0; i < taken.length; i++) {
                var course = null;
                var found = false;
                for (var j = 0; j < selectionTableData[modelId].length; j++) {
                    course = selectionTableData[modelId][j];
                    if (course.courseID === taken[i]) {
                        found = true;
                        selectionTableData[modelId].splice(j, 1);
                        break;
                    }
                }

                if (found) {
                    takenTableData[modelId].push({
                        taken: true,
                        elective: false,
                        course: course
                    });
                }
            }

            updateHours(modelId);
            populateSelectionTable(modelId);
            populateTakenTable(modelId);
        }

        function populateTakenTable(modelId) {
            var html = "";
            for (var i = 0; i < takenTableData[modelId].length; i++) {
                var data = takenTableData[modelId][i];
                var course = data.course;
                html += "<tr>";
                html += "<td>" + course.name + "</td>";
                html += "<td>" + course.department + " " + course.catalogNumber + "</td>";
                html += "<td><button onclick='removeCourse(" + modelId + ", " + course.courseID + ")'>Remove</button></td>";
                html += "</tr>";
            }
            $("#" + modelId + "-selected-courses").html(html);
        }

        function populateSelectionTable(modelId) {
            var html = "";
            for (var i = 0; i < selectionTableData[modelId].length; i++) {
                var course = selectionTableData[modelId][i];

                if (!course.catalogNumber.endsWith("E")) {
                    html += "<tr>";
                    html += "<td>" + course.name + "</td>";
                    html += "<td>" + course.department + " " + course.catalogNumber + "</td>";
                    html += "<td><button onclick='addCourse(" +
                        modelId +
                        ", " +
                        course.courseID +
                        ")'>Add</button></td>";
                    html += "</tr>";
                } else {
                    html += "<tr>";
                    if (course.department === "UARK") {
                        html += "<td>Any elective</td>";
                    } else {
                        html += "<td>" + course.department + " elective</td>";
                    }
                    if (course.catalogNumber === "000E") {
                        html += "<td></td>";
                    } else {
                        html += "<td>numbered greater than " + course.catalogNumber.substring(0, 3) + "0</td>";
                    }
                    html += "<td></td></tr>";
                }
            }
            $("#" + modelId + "-course-options").html(html);
        }

        function addCourse(modelId, courseId, tryRemove = true) {
            if (tryRemove) {
                for (var i = 0; i < takenTableData.length; i++) {
                    var table = takenTableData[i];
                    for (var j = 0; j < table.length; j++) {
                        var element = table[j];
                        if (element.course.courseID === courseId) {
                            return;
                        }
                    }
                }
                var course;
                var found = -1;
                for (var i = 0; i < selectionTableData[modelId].length; i++) {
                    course = selectionTableData[modelId][i];
                    if (course.courseID === courseId) {
                        found = i;
                        break;
                    }
                }
                console.log(course);
                if (found !== -1) {
                    selectionTableData[modelId].splice(found, 1);
                    takenTableData[modelId].push({
                        taken: false,
                        elective: false,
                        course: course
                    });

                    updateHours(modelId);
                    populateTakenTable(modelId);
                    populateSelectionTable(modelId);
                }
            } else {
                for (var i = 0; i < takenTableData.length; i++) {
                    var table = takenTableData[i];
                    for (var j = 0; j < table.length; j++) {
                        var element = table[j];
                        if (element.course.department === courseId.department &&
                            element.course.catalogNumber === courseId.catalogNumber) {
                            return;
                        }
                    }
                }
                $.ajax({
                    type: "POST",
                    timeout: 10000,
                    data: {
                        degreeElementId: courseOptions[modelId].degreeElement.degreeElementID,
                        department: courseId.department,
                        catalog: courseId.catalogNumber,
                        degreeId: @ViewBag.DegreeId
                    },
                    url: "@Url.Action("CanAddElective", "Planner")",
                    success: function(data) {
                        if (data.allow) {
                            courseId.name = data.name;
                            courseId.courseID = data.courseID;
                            takenTableData[modelId].push({
                                taken: false,
                                elective: true,
                                course: courseId
                            });
                            updateHours(modelId);
                        }
                        populateTakenTable(modelId);
                        populateSelectionTable(modelId);
                    }
                });
            }
        }

        function removeCourse(modelId, courseId) {
            var course;
            var elective;
            var found = -1;
            for (var i = 0; i < takenTableData[modelId].length; i++) {
                course = takenTableData[modelId][i].course;
                elective = takenTableData[modelId][i].elective;
                if (course.courseID === courseId) {
                    found = i;
                    break;
                }
            }
            if (found !== -1) {
                takenTableData[modelId].splice(found, 1);
                if (!elective) {
                    selectionTableData[modelId].push(course);
                }

                updateHours(modelId);
            }


            populateTakenTable(modelId);
            populateSelectionTable(modelId);
        }

        function updateHours(modelId) {
            var hourCount = 0;
            for (var i = 0; i < takenTableData[modelId].length; i++) {
                hourCount += takenTableData[modelId][i].course.hours;
            }
            var remainingHours = hourRequirements[modelId] - hourCount;
            if (remainingHours < 0) remainingHours = 0;

            if (remainingHours === 0) {
                $("#" + modelId + "-div-options").css("display", "none");
            } else {
                $("#" + modelId + "-div-options").css("display", "block");
            }

            $("#" + modelId + "-hours-remaining").html(remainingHours + "");
        }

        function generateSchedules() {
            for (var i = 0; i < hourRequirements.length; i++) {
                var html = $("#" + i + "-hours-remaining").html();
                if (html !== "0") return;
            }
            var selectedData = [];
            for (var i = 0; i < courseOptions.length; i++) {
                var selectedCourses = [];
                for (var j = 0; j < takenTableData[i].length; j++) {
                    var course = takenTableData[i][j].course;
                    course.CourseUserLinks = [];
                    selectedCourses.push(course);
                }
                selectedData.push({
                    degreeElementID: courseOptions[i].degreeElement.degreeElementID,
                    courses: selectedCourses
                });
            }

            var postData = {
                degreeID: @ViewBag.DegreeId,
                degreeElements: selectedData,
                maxHoursPerSemester: $("#max-hours").val()
            };

            console.log(postData);
            $.redirect("@Url.Action("ViewDegreePlan", "Planner")", postData);
        }

    </script>
}