
@using Degree_Planner.Models.ViewModels
@{
    ViewData["Title"] = "Frank's Favorite Degree Planner";
}
@model UserLoginVm
@{
    Layout = "../Shared/_Layout.cshtml";
}



<img class="mb-4 rounded d-block mx-auto" src="./images/fantastic-beasts-2.jpg" alt="Title Card" width="1000" height="500">

<br />
<br />
<div class="login">


@using(Html.BeginForm(FormMethod.Post, new {@class = "form-signin"})) {
    <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(m => m.Username)
    
    <br />
    
    @Html.TextBoxFor(m => m.Username, new {@class="form-control"})
    @Html.ValidationMessageFor(m => m.Username,"", new {@class="text-danger"})
    
    <br />
    
    @Html.LabelFor(m => m.Password)
    <br />
    @Html.PasswordFor(m => m.Password, new {@class="form-control"})
    @Html.ValidationMessageFor(m => m.Password,"", new {@class="text-danger"})
    
    <br />
    <br />
    <div class="checkbox mb-3">
    <label>
        @Html.CheckBoxFor(m => m.AGREE)  I agree the <a href="javascript:$('#terms').modal()">terms of service</a> for Frank's Favorite Degree Planner 
        <br /> 
        @Html.ValidationMessageFor(m => m.AGREE, "", new {@class="text-danger"}) 
    </label>
    </div>
    <br />
    <input type="submit" class="btn btn-lg btn-secondary" value = "Submit" />
    @Html.ActionLink("Create account", "CreateAccount")
    @if(!string.IsNullOrEmpty(Model.Message)) {
        <p>@Model.Message</p>
    }
}
</div>
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="terms-title">Terms of service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                PUT THE TERMS OF SERVICE HERE
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>