
@using Degree_Planner.Models.ViewModels
@{
    ViewData["Title"] = "Frank's Favorite Degree Planner";
}
@model UserLoginVm
@{
    Layout = "../Shared/_Layout.cshtml";
}



<img class="mb-4" src="./images/fantastic-beasts-2.jpg" alt="Title Card" width="1000" height="500">

<br />
<br />
<div class="login">


@using(Html.BeginForm(FormMethod.Post, new {@class = "form-signin"})) {
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(m => m.Username)
    
    <br />
    
    @Html.TextBoxFor(m => m.Username, new {@class="form-control"})
    @Html.ValidationMessageFor(m => m.Username,"", new {@class="text-danger"})
    
    <br />
    
    @Html.LabelFor(m => m.Password)
    <br />
    @Html.PasswordFor(m => m.Password, new {@class="form-control"})
    @Html.ValidationMessageFor(m => m.Password,"", new {@class="text-danger"})
    
    <br />
    <br />
    <div class="checkbox mb-3">
    <label>
        @Html.CheckBoxFor(m => m.AGREE)  I agree the terms of services for Frank's Favorite Degree Planner 
        <br /> 
        @Html.ValidationMessageFor(m => m.AGREE, "", new {@class="text-danger"}) 
    </label>
    </div>
    <br />
    <input type="submit" value = "Submit" />
    @Html.ActionLink("Create account", "CreateAccount")
    @if(!string.IsNullOrEmpty(Model.Message)) {
        <p>@Model.Message</p>
    }
}
</div>
