@using Degree_Planner.Models.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Degree Planner";
}
@model UserLoginVm
<h1>Degree Planner</h1>
@using(Html.BeginForm(FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.LabelFor(m => m.Username)
    <br />
    @Html.TextBoxFor(m => m.Username)
    <br />
    @Html.ValidationMessageFor(m => m.Username)
    <br />
    <br />
    @Html.LabelFor(m => m.Password)
    <br />
    @Html.PasswordFor(m => m.Password)
    <br />
    @Html.ValidationMessageFor(m => m.Password)
    <br />
    <input type="submit" value="Login" />
    @Html.ActionLink("Create account", "CreateAccount")
    @if(!string.IsNullOrEmpty(Model.Message)) {
        <p>@Model.Message</p>
    }
}